.search-results-container {
  margin-top: 200px;
  font-family: "Hanken Grotesk", Arial;
  color: #000839;
}

.search-results-container h1 {
  font-size: 20px;
  margin-left: 3rem;
  margin-bottom: 1rem;
  color: #423e3e;
}

.results-grid {
  display: flex;
  flex-wrap: wrap;
  gap: 40px;
  justify-content: center;
}

.search-result-card:hover {
  transform: scale(1.05); /* Slight zoom on hover */
}

@media (max-width: 1024px) {
  .search-result-card {
    flex: 1 1 calc(50% - 20px); /* 2 cards per row on medium screens */
  }
}

@media (max-width: 768px) {
  .search-result-card {
    flex: 1 1 100%; /* 1 card per row on small screens */
  }
}

.sort-buttons {
  display: flex;
  align-items: center;
  gap: 10px;
  margin-bottom: 20px;
  margin-left: 3rem;
  background-color: #fafafa;
  padding: 10px 20px;
  margin-right: 3rem;
  border-radius: 20px;
}

.sort-buttons span {
  font-weight: medium;
  font-family: "Hanken Grotesk", Arial;
}

.sort-buttons button {
  border: 1px solid #000839;
  background: transparent;
  padding: 8px 12px;
  cursor: pointer;
  border-radius: 20px;
  transition: all 0.3s ease;
  font-family: "Hanken Grotesk", Arial;
  color: #000839;
  font-weight: 600;
}

.sort-buttons button.active {
  background: #000839;
  color: white;
  border-color: #000839;
}

@media (max-width: 1024px) {
  .search-results-container {
    font-family: "Hanken Grotesk", Arial;
    color: #000839;
    width: 90%;
    margin: 0 auto;
    margin-top: 120px;
    margin-bottom: 140px;
    text-align: left;
  }

  .search-results-container h1 {
    font-size: 20px;
    margin-left: 0px;
    margin-bottom: 1rem;
  }

  .sort-buttons {
    display: flex;
    align-items: center;
    gap: 10px;
    width: 100%;
    margin: 0 auto;
    margin-bottom: 20px;
    justify-content: center;
  }

  .sort-buttons span {
    font-weight: bold;
    font-family: "Hanken Grotesk", Arial;
  }

  .sort-buttons button {
    border: 1px solid #000839;
    background: transparent;
    padding: 6px 10px;
    cursor: pointer;
    border-radius: 20px;
    transition: all 0.3s ease;
    font-family: "Hanken Grotesk", Arial;
    color: #000839;
    font-weight: 600;
    font-size: 12px;
  }

  .sort-buttons button.active {
    background: #000839;
    color: white;
    border-color: #000839;
  }

  .sort-buttons span {
    display: none;
  }
}
