.trader-container {
  max-width: 1024px;
  width: 100%; /* Default width for responsiveness */
  margin: auto;
  padding: 20px; /* Adds spacing */
}
.trader-top-header {
  margin-top: 120px;
  margin-bottom: 20px;
  display: flex;
  gap: 20px;
  font-family: "Hanken Grotesk", Arial;
  color: #000839;
  font-size: 40px;
}

.trader-top-header h3,
p {
  margin: 0;
  font-size: 16px;
  font-weight: 500;
}

.trader-top-header p {
  color: rgba(0, 8, 57, 0.5); /* #000839 with 50% opacity */
}

.trader-profile {
  max-width: 1024px;
  margin: auto;
  padding: 30px;

  font-family: "Hanken Grotesk", Arial;
  border: 1px solid #bbbcc0;
  border-radius: 30px;
}

.trader-info {
  border-radius: 8px;
  margin-top: 20px;
}

.trader-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: #000839;
}

.trader-header h1 {
  font-size: 30px;
  font-weight: bold;
  margin: 0;
}

.quote-btn {
  background: #000839;
  color: white;
  border: none;
  padding: 10px 15px;
  font-size: 16px;
  border-radius: 50px;
  cursor: pointer;
  font-family: "Hanken Grotesk", Arial;
  font-weight: 600;
  width: 200px;
}

.trader-address {
  font-size: 16px;
  color: #000839;
  margin-top: 5px;
  font-weight: 500;
}

.trader-features {
  display: flex;
  gap: 25px;
  margin-top: 20px;
  font-size: 14px;
  color: #000839;
  font-weight: 500;
}

.trader-features div {
  display: flex;
  align-items: center; /* Centers items vertically */
}

.trader-features img {
  height: 18px;
  margin-right: 8px;
}

.trader-services {
  margin-top: 30px;
}

.trader-services ul {
  list-style: none;
  padding: 0;
}

.trader-services li {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

.service {
  display: flex;
  align-items: center;
  gap: 8px;
}

.trader-details-container {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  margin-top: 30px;
}

.trader-details-box {
  background: white;
  border: 1px solid #bbbcc0;
  padding: 20px;
  border-radius: 20px;
  width: 95%; /* Make it responsive */
  text-align: left;
  align-items: center;
  font-size: 16px;
  color: #333;
  display: flex;
  gap: 50px;
  margin: 0 auto;
  margin-left: 0px;
}

.detail-icon {
  height: 50px;
}

.star-icon {
  height: 50px;
}

.badge-info-wrapper {
  margin-left: 10px;
  display: flex;
  align-items: center;
  height: fit-content;
}

.member-operates-wrapper {
  line-height: 1.5; /* Adjust this value as needed */
  font-family: "Hanken Grotesk", Arial;
}

.member-operates-wrapper p {
  color: #000839;
  font-weight: 500;
  font-size: 18px;
}

.member-review-wrapper {
  font-family: "Hanken Grotesk", Arial;
  color: #2ec1c7;
}

.member-review-wrapper p {
  font-family: "Hanken Grotesk", Arial;
  color: #2ec1c7;
  font-weight: 600;
  font-size: 60px;
  height: fit-content;
}

.review-text-container p {
  text-decoration: underline;
  font-family: "Hanken Grotesk", Arial;
  color: #000839;
  font-weight: 600;
  text-align: right;
  margin-top: -10px;
}

.calendar-title {
  text-align: left !important; /* Force left alignment */
  color: #000839;
}

.calendar-container h3 {
  margin-top: 0 !important;
}

.calendar-container {
  margin-top: 0 !important;
  background: #fff;
  padding: 30px;
  border-radius: 20px;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2);
  max-width: 400px;
  width: 100%;
  display: block;
  font-family: "Hanken Grotesk", Arial;
}

.calendar-note {
  font-size: 12px;
  text-align: left;
  color: #000839;
  margin-top: -10px;
  font-style: italic;
  line-height: 1.8;
  padding: 20px;
  font-weight: 500;
}

.calendar-today {
  cursor: pointer;
  color: #000839; /* Change to your preferred color */
  text-decoration: underline;
}

.calendar-today:hover {
  color: #000839; /* Change to your preferred color */
}

.react-calendar {
  border: none;
  font-family: inherit;
  width: 100%;
}

.react-calendar__tile--now {
  background: #e0f7fa !important;
}

.react-calendar__tile--active {
  background: #2ec1c7 !important;
  color: #fff;
}

.calendar-header {
  display: flex;
  justify-content: space-between;
  padding-left: 10px;
  padding-right: 20px;
  color: #000839;
}

.calendar-header p {
  text-decoration: underline;
  font-weight: 600;
}

.badge-info-wrapper {
  display: flex;
  align-items: center; /* Aligns everything in a row */
  gap: 12px; /* Adjust spacing between elements */
}

.reviews-wrapper {
  display: flex;
  align-items: center; /* Ensures everything is centered vertically */
  gap: 5px; /* Controls spacing between the star and the text */
  width: fit-content;
}

.reviews-block {
  display: flex; /* Makes "7" and "reviews" stay in a row */
  align-items: center;
  flex-direction: column;
  gap: 2px; /* Adjusts spacing */
}

.reviews-wrapper img {
  width: 18px; /* Adjust based on your design */
  height: 18px;
  display: inline-block;
}

.review-text {
  margin-bottom: 0;
  font-size: 14px;
  color: #091540; /* Darker text color */
}

.skills-list {
  color: #000839;
  font-weight: 500;
  font-family: "Hanken Grotesk", Arial;
}

.skills-list img {
  height: 16px;
}

.skills-list li {
  display: flex;
  align-items: center;
  gap: 8px; /* Adjust spacing between image and text */
  margin-bottom: 8px;
  line-height: 1.5;
}

.section-title {
  color: #000839;
  font-family: "Hanken Grotesk", Arial;
  font-size: 30px;
  margin-bottom: 0;
  margin-top: 30px;
}

.divider {
  margin: 0 !important;
  margin-bottom: 20px !important;
  margin-top: 10px !important;
}

.profile-item img {
  height: 20px;
}

.profile-item {
  display: flex;
  align-items: center;
  justify-content: space-between; /* Ensures spacing between the two columns */
  gap: 10px;
  width: 100%;
  max-width: 500px; /* Adjust as needed */
  margin-bottom: 8px;
  line-height: 1.5;
  color: #000839;
  font-family: "Hanken Grotesk", Arial;
  font-weight: 500;
}

.profile-item span,
.profile-item a {
  flex: 1; /* Makes both spans take equal space */
  white-space: nowrap; /* Prevents wrapping */
}

.profile-icon {
  width: 20px; /* Adjust icon size */
  height: 20px;
}

.about-company p {
  color: #000839;
  font-family: "Hanken Grotesk", Arial;
  margin-top: 10px;
  font-size: 16px;
  font-weight: 500;
  width: 80%;
}

.company-profile {
  margin-bottom: 40px;
}

.awards {
  margin-bottom: 40px;
}

.award-icon {
  height: 16px;
}

.award-item {
  display: flex;
  align-items: center;
  line-height: 1.5;
  margin-bottom: 8px;
  gap: 10px;
  color: #000839;
  font-family: "Hanken Grotesk", Arial;
  font-size: 16px;
  font-weight: 500;
  margin-top: 10px;
}

/* General Styles */
.profile-container {
  max-width: 700px;
  margin: 40px auto;
  font-family: Arial, sans-serif;
}

/* Trader Rating Section */
.trader-rating {
  border-radius: 8px;
  background: white;
  margin-top: 40px;
}

/* Header */
.rating-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-family: "Hanken Grotesk", Arial;
  margin-bottom: 30px;
}

.rating-header h2 {
  font-size: 40px;
  margin: 0;
  font-weight: 500;
  color: #000839;
  font-family: "Hanken Grotesk", Arial;
}

.rating-header p {
  font-size: 40px;
  font-weight: 800;
  color: #000839;
  font-family: "Hanken Grotesk", Arial;
}

.review-btn {
  padding: 12px 24px;
  border: 1px solid #000839;
  color: #000839;
  border-radius: 50px;
  cursor: pointer;
  background: none;
  font-family: "Hanken Grotesk", Arial;
  font-weight: 600;
  transition: all 0.3s ease; /* Smooth hover transition */
}

.btn {
  padding: 8px 14px;
  border: 1px solid #000839;
  color: #000839;
  border-radius: 50px;
  cursor: pointer;
  background: none;
  font-family: "Hanken Grotesk", Arial;
  font-weight: 600;
  transition: all 0.3s ease; /* Smooth hover transition */
}

.btn:hover {
  background: #000839;
  color: white;
}

/* Rating Breakdown */
.rating-breakdown {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin-bottom: 20px;
  font-family: "Hanken Grotesk", Arial;
}

.rating-category {
  text-align: center;
  flex: 1;
  min-width: 120px;
  margin-bottom: 10px;
  font-family: "Hanken Grotesk", Arial;
}

.category-name {
  font-weight: bold;
  font-family: "Hanken Grotesk", Arial;
}

.stars {
  font-size: 18px;
  color: #f39c12;
}

.star-review-header {
  display: flex;
  align-items: center;
}

/* Reviews */
.reviews {
  margin-top: 20px;
  font-family: "Hanken Grotesk", Arial;
  display: grid;
  grid-template-columns: repeat(2, 1fr); /* Default: 2 columns */
  grid-gap: 20px; /* Adjust spacing */
}

.review {
  padding: 15px;
  background: white;
}

.review-header {
  display: flex;
  justify-content: space-between;
  font-weight: bold;
}

.review-name {
  font-size: 16px;
}

.review-time {
  font-size: 12px;
  color: #888;
  justify-content: flex-end;
}

/* Verified & Unverified Badges */
.badge {
  display: inline-block;
  padding: 3px 8px;
  font-size: 12px;
  border-radius: 5px;
}

.verified {
  background: #fff8ef;
  color: #d88715;
}

.unverified {
  background: #f2f4fa;
  color: #000839;
}

/* Show all reviews button */
.show-reviews {
  display: block;
  width: 20%;
  margin-top: 15px;
  margin-bottom: 40px;
}

.trader-bio {
  padding: 20px;
  width: 500px;
  border: 1px solid #bbbcc0;
  border-radius: 20px;
  display: flex;
  align-items: center;
  font-family: "Hanken Grotesk", Arial;
  justify-content: space-around;
}

.trader-bio-content h3 {
  color: #000839;
  font-family: "Hanken Grotesk", Arial;
  font-size: 24px;
  margin: 0;
}

.trader-bio .trader-profile-img {
  height: 120px;
  width: 120px; /* Ensure the image remains a perfect circle */
  border-radius: 50%; /* Makes it circular */
  border: 3px solid #000839; /* Adjust color as needed */
  object-fit: cover; /* Ensures the image fills the space without distortion */
}

.confirmed-info span,
li {
  color: #000839;
  font-weight: 600;
  font-size: 14px;
}

.confirmed-info img {
  height: 16px;
}

.confirmed-info {
  align-items: center;
}

.verified-badge {
  height: 20px;
}

.business-owner-verified-wrapper {
  display: block;
}

.info-list li {
  display: flex;
  align-items: center; /* Aligns items vertically */
  gap: 8px; /* Adds spacing between the check icon and text */
  line-height: 1.5;
}

.info-list li img {
  width: 16px; /* Adjust size of the check icon */
  height: 16px;
}

.meet-the-trade-title {
  color: #000839;
  font-family: "Hanken Grotesk", Arial;
  font-size: 32px;
  margin-top: 30px;
  margin-bottom: 30px;
}

.meet-the-trader-wrapper {
  display: flex;
  gap: 60px;
}

.is-verified-bio {
  color: #000839;
  font-family: "Hanken Grotesk", Arial;
  font-size: 24px;
  font-weight: 600;
  width: 70%;
}

.is-verified-content {
  color: #000839;
  font-family: "Hanken Grotesk", Arial;
  margin-top: 14px;
}

.map-container {
  margin-top: 40px;
  margin-bottom: 40px;
}

.map-schedule-wrapper {
  display: flex;
  gap: 20px;
}

.open-schedule {
  margin-top: 0;
  padding: 10px 30px;
  border-radius: 8px;
  background-color: #319f43; /* Green for open schedule */
  color: white;
  font-family: "Hanken Grotesk", Arial;
  width: 250px;
  text-align: center;
}

.closed-schedule {
  margin-top: 0;
  padding: 10px 30px;
  border-radius: 8px;
  background-color: #e33629; /* Red for closed schedule */
  color: white;
  font-family: "Hanken Grotesk", Arial;
  width: 250px;
  text-align: center;
}

.map-schedule-wrapper li {
  font-family: "Hanken Grotesk", Arial;
}

.profile-item .day {
  white-space: nowrap; /* Prevents wrapping */
  font-weight: 600;
}

.profile-item .time {
  flex: 1.2; /* Makes the time span take the remaining space */
  text-align: left; /* Aligns the time to the left */
  white-space: nowrap; /* Prevents wrapping */
}

/* Unique class for time element */
.profile-item .time-unique {
  color: #000839; /* Or any other color you'd prefer */
  font-weight: 600; /* Standard weight for unique time */
  text-align: left; /* Aligns time to the left */
  display: block; /* Makes time take full width */
}

/* Style for the Closed status */
.profile-item .closed-time {
  color: #e33629; /* Red color for closed schedule */
  font-weight: bold; /* Make closed time bold */
  text-align: left; /* Aligns the time to the left */
  display: block; /* Makes time take full width */
}

.ratings-summary {
  display: flex;
  align-items: flex-start;
  margin-bottom: 20px;
}

.overall-rating {
  flex: 1;
  font-family: "Hanken Grotesk", Arial;
  color: #000839;
}

.overall-rating h3 {
  font-size: 16px;
  font-weight: bold;
  margin-bottom: 10px;
  margin-top: 0;
}

.rating-row {
  display: flex;
  align-items: center;
  gap: 20px;
  font-family: "Hanken Grotesk", Arial;
  color: #000839;
}

.rating-row span {
  font-size: 14px;
  font-family: "Hanken Grotesk", Arial;
}

.rating-bar {
  width: 150px;
  height: 8px;
  background-color: #e0e0e0;
  border-radius: 4px;
  overflow: hidden;
}

.filled-bar {
  height: 100%;
  background-color: #000839;
}

.category-ratings {
  display: flex;
  gap: 10px;
}

.category {
  padding-left: 20px;
  padding-right: 20px;
  display: block;
}

.vertical-divider {
  width: 1px;
  height: 120px;
  background-color: #ccc;
}

.category h3 {
  font-size: 14px;
  font-weight: bold;
  margin-bottom: 14px;
  margin-top: 0;
  color: #000839;
  font-family: "Hanken Grotesk", Arial;
}

.category p {
  font-size: 16px;
  font-weight: bold;
  color: #000839;
  font-family: "Hanken Grotesk", Arial;
}

.category-icon {
  width: 40px; /* Adjust as needed */
  height: 40px;
  margin-top: 10px;
  object-fit: contain;
}

.text-review-header {
  display: flex;
  align-items: center;
}

.name-time-wrapper {
  display: flex;
  flex-direction: column;
}

.review-name,
.review-time {
  display: block;
}

.verified-stars-wrapper {
  margin-top: 10px;
  display: flex;
  align-items: center;
  gap: 10px;
  margin-bottom: 10px;
}

.stars-container {
  align-items: center;
  margin: 0;
}

.star {
  margin: 0;
  align-items: center;
}

.trader-block {
  width: 80%;
}

@media (max-width: 1024px) {
  .trader-container {
    width: 95%;
    padding: 0px;
    margin-top: 100px;
  }
  .sticky-wrapper {
    display: none;
  }

  .trader-header .quote-btn {
    display: none;
  }

  .side-modal {
    background: white;
    width: 100% !important;
    height: 100vh;
    position: fixed;
    right: 0;
    top: 0;
    padding: 20px;
    transform: translateX(100%);
    animation: slideIn 0.3s forwards;
  }

  .sticky-footer {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    background: white;
    padding: 20px;
    text-align: right;
    box-shadow: 0 -2px 5px rgba(0, 0, 0, 0.1);
    z-index: 1000; /* Ensures it stays above other content */
  }

  .sticky-footer {
    display: block;
  }

  .trader-top-header {
    display: none;
  }

  .trader-profile {
    max-width: 100%;
    margin: auto;
    padding: 20px;
    font-family: "Hanken Grotesk", Arial;
    border: none;
    border-radius: 30px;
  }

  .trader-features {
    width: 90%;
  }

  .trader-details-container {
    max-width: 90%;
    width: 90%;
    margin: 0 auto;
    align-items: center;
  }

  .calendar-container {
    display: none;
  }

  .trader-block {
    width: 98%;
    margin: 0 auto;
    padding: 0px;
  }

  .profile-item span,
  a {
    font-size: 12px;
  }

  .skills-list li {
    font-size: 12px;
  }

  .detail-icon {
    height: 22px;
  }

  .star-icon {
    height: 22px !important;
  }

  .member-operates-wrapper p {
    color: #000839;
    font-weight: 500;
    font-size: 10px;
  }

  .member-review-wrapper p {
    font-size: 24px;
    margin-left: -10px;
  }

  .review-text-container p {
    margin-top: -4px;
    font-size: 10px;
    text-align: center;
  }

  .trader-details-box {
    gap: 15px;
    justify-content: space-around;
  }

  .map-schedule-wrapper {
    display: flex;
    flex-direction: column-reverse;
    gap: 20px;
  }

  .trader-rating {
    border-radius: 8px;
    background: white;
    margin-top: 40px;
    width: 90%;
    margin: 0 auto;
  }

  .closed-schedule,
  .open-schedule,
  .gmaps-button {
    width: 100% !important;
  }

  .review-btn {
    display: none;
  }

  .ratings-summary {
    display: none;
  }

  .meet-the-trader-wrapper {
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 95%;
    margin: 0 auto;
    margin-bottom: 130px;
  }

  .divider {
    margin: 0 auto !important;
    margin-top: 10px !important;
    margin-bottom: 20px !important;
    width: 100% !important;
  }

  .rating-header h2 {
    font-size: 20px;
    margin: 0;
    font-weight: 500;
    color: #000839;
    font-family: "Hanken Grotesk", Arial;
  }

  .star-review-header img {
    height: 40px !important;
    width: 40px !important;
  }

  .star-review-header p {
    font-size: 50px !important;
    color: #000839 !important;
  }

  .rating-header-design {
    display: flex;
    flex-direction: column-reverse !important;
    align-items: flex-start !important;
  }

  .reviews {
    display: flex;
    flex-wrap: nowrap;
    overflow-x: auto;
    scroll-snap-type: x mandatory;
    gap: 10px;
    padding-bottom: 10px;
    scrollbar-width: none; /* Hide scrollbar for Firefox */
  }

  .reviews::-webkit-scrollbar {
    display: none; /* Hide scrollbar for Chrome/Safari */
  }

  .review {
    flex: 0 0 85%; /* Set review width */
    max-width: 300px; /* Optional: Adjust for readability */
    scroll-snap-align: start;
  }

  .show-reviews {
    display: block;
    width: 100%;
    margin-top: 15px;
    margin-bottom: 40px;
  }

  .trader-bio {
    padding: 20px;
    width: 100%;
    border: 1px solid #bbbcc0;
    border-radius: 20px;
    display: flex;
    align-items: center;
    font-family: "Hanken Grotesk", Arial;
    justify-content: space-around;
  }

  .meet-the-trader h3 {
    margin: 0 auto;
    margin-bottom: 10px;
    font-size: 20px;
    width: 95%;
  }

  .about-company p {
    color: #000839;
    font-family: "Hanken Grotesk", Arial;
    margin-top: 10px;
    font-size: 16px;
    font-weight: 500;
    width: 100%;
  }

  .is-verified-bio {
    color: #000839;
    font-family: "Hanken Grotesk", Arial;
    font-size: 24px;
    font-weight: 600;
    width: 100%;
  }
}

/* Modal Overlay */
.profile-modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5); /* Dark overlay */
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1000; /* Ensures it overlays everything */
}

/* Modal Content */
.modal {
  background: white;
  padding: 40px;
  border-radius: 8px;
  text-align: center;
  width: 350px;
  position: relative;
}

/* Title styling */
.modal-title {
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 20px;
}

/* Modal Overlay */
.modal-overlay,
.side-modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1100;
}

/* Close Button */
.close {
  position: absolute;
  top: 10px;
  right: 15px;
  font-size: 20px;
  cursor: pointer;
  margin-right: 10px;
}

/* Button Styling */
.btn {
  width: 100%;
  padding: 15px;
  font-size: 18px;
  font-weight: bold;
  border-radius: 30px;
  cursor: pointer;
  margin: 10px 0;
  transition: all 0.3s ease-in-out;
}

.btn.primary {
  background-color: #000839;
  color: white;
  border-radius: 20px;
}

.btn.outline {
  background-color: transparent;
  border: 2px solid #000839;
  color: #000839;
  border-radius: 20px;
}

/* Hover Effects */
.primary:hover {
  background-color: #000a29;
}

.outline:hover {
  background-color: #00113d;
  color: white;
}

.close-request-wrapper {
  display: flex;
  align-items: center;
}

/* Side Modal Styling */
.side-modal-overlay {
  justify-content: flex-end; /* Aligns to the right */
}

.side-modal {
  background: white;
  width: 30%;
  height: 100vh;
  position: fixed;
  right: 0;
  top: 0;
  padding: 20px;
  transform: translateX(100%);
  animation: slideIn 0.3s forwards;
}

/* Slide in animation */
@keyframes slideIn {
  from {
    transform: translateX(100%);
  }
  to {
    transform: translateX(0);
  }
}

.time-selection .back-button {
  border: none;
  margin: 0;
  padding: 0;
  text-align: right;
  text-decoration: underline;
  font-weight: 600;
}

.time-selection .book-button {
  margin-top: 30px;
  color: white;
  background-color: #000839;
  font-weight: 600;
}
